<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="products"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Frutas y verduras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Frutas y verduras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let product of products" [routerLink]="['/products/frutas-y-verduras/products-view', product.product_id]">
      <ion-avatar slot="start">
        <img *ngIf="product.product_image" [src]="getPictureUrl(product.product_image)">
      </ion-avatar>
      <ion-label>
        <h2>{{product.product_name}}</h2>
        <h3>{{product.product_trademark}}</h3>
        <p>{{product.product_type}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
